body {
	width: 100vw;
	height: 100vh;
}

.flex-container {
	display: flex;
	height: 100vh;
}

.flex-container .flex-section {
	display: flex;
	margin: auto;
}

#drop-area {
	margin: auto;
	padding: 20px;
	min-width: 40vw;
	border-radius: 10px;
	border: 4px dashed #eee;
}

#drop-area.highlight {
	border-color: purple;
}

#drop-area label {
	display: block;
}

#drop-area #file {
	display: none;
}
